<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_PATH" value=":memory:"/>
        <env name="OPENAI_API_KEY" value="test"/>
        <env name="TELEGRAM_BOT_TOKEN" value="test"/>
        <env name="ALLOWED_USER_ID" value="0"/>
        <env name="APP_TIMEZONE" value="America/Sao_Paulo"/>
    </php>
</phpunit>
